

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 5rem;
    height: 2rem;
    outline: solid black;
    margin: 1rem;
    padding: 0.5rem;
}